<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Portfolio Page</title>
  </head>
  <body>
    <p> Hi there! Checkout this project list: </p>
    {% if project_list %}
        <ul>
            {% for project in project_list %}
                <li>
                    <a href="{% url 'projects:detail' project.id %}">{{ project.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No projects available.</p>
    {% endif %}
  </body>
</html>